Hi,
  
There is a schedule change for a Kijiji task:
=@ad.link
 
Login: 
=@ad.user.kijiji_user
Pass: 
=@ad.user.kijiji_password  
   
     
Now scheduled for:
=l @ad.repost_time

Tasks list:
http://jelly-fish-production.herokuapp.com/
