Hi,
  
There is a new repost task on Kijiji:
=@ad.link
 
Login: 
=@ad.user.kijiji_user
Pass: 
=@ad.user.kijiji_password  
     
Scheduled for:
=l @ad.repost_time
       
Tasks list:
http://jelly-fish-production.herokuapp.com/
