Hi,

A task has changed:
=@old_ad_link
 
Replace with it with task:
=@ad.link

Login: 
=@ad.user.kijiji_user
Pass: 
=@ad.user.kijiji_password  

Scheduled for:
=l @ad.repost_time

Tasks list:
http://jelly-fish-production.herokuapp.com/
